<% include ../layout/header %>

<div class="container">
    <h1><%= user.username %></h1>
    <p><a href="mailto:<%= user.email %>"><%= user.email %></a></p>
    <div>
        <a class="btn btn-outline-info" href="/users/<%= user._id %>/edit">Edit user profile</a>
        <% if (currentUser && currentUser.isAdmin) { %>
            <form action="/users/<%= user._id %>?_method=DELETE" method="POST" style="display: inline;">
                <button class="btn btn-sm btn-outline-danger">Delete user</button>
            </form>
        <% } %>
    </div>
    
    <p style="margin-top: 15px"><%= user.introduction %></p>
    <h4>Wishlist</h4>
    <% if(user.wishesCount > 0){ %>
        <ul class="list-group" style="padding-bottom:10px; ">  
            <% user.wishes.forEach(function(wish) { %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="/cards/<%= wish._id %>"><%= wish.name %></a>
                <div class="btn-group" >
                <% if (currentUser && currentUser.isAdmin) { %>
                    <h4><span class="badge badge-secondary" ><%= wish.amount %> cards left</span></h4>
                    <form action="/users/<%= user._id %>/sent/<%= wish._id %>" method="POST">
                        <button class="btn btn-sm btn-primary" style="margin: 0 5px 0;">Card sent</button>
                    </form>
                <% } %>
                <form action="/users/<%= user._id %>/wishes/<%= wish._id %>?_method=DELETE" method="POST" style="display: inline;">
                    <button class="btn btn-sm btn-danger">Delete</button>
                </form>
                </div>
            <% }); %>    
            </li>
        </ul>
    <% } else { %>
        <p>No cards at the moment</p>
    <% } %>
    <hr>
    <h4>Sent cards</h4>
    <% if(user.sentCardsCount > 0){ %>
        <ul class="list-group" style="padding-bottom:10px; ">  
            <% user.sentCards.forEach(function(sent) { %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="/cards/<%= sent._id %>"><%= sent.name %></a>
                <div class="btn-group" >
                <h4><span class="badge badge-secondary" style="margin: 0 5px 0;">Sent on ...</span></h4>    
                <% if (currentUser && currentUser.isAdmin) { %>
                    <form action="/users/<%= user._id %>/sentCard/<%= sent._id %>?_method=DELETE" method="POST" style="display: inline;">
                        <button class="btn btn-sm btn-danger">Delete</button>
                    </form>
                <% } %>
                </div>
            <% }); %>    
            </li>
        </ul>
    <% } else { %>
        <p>No cards were sent yet</p>
    <% } %>

</div>

<% include ../layout/footer %>