<% include ../layout/header %>

<div class="container">
    <h1><%= user.username %></h1>
    <p><a href="mailto:<%= user.email %>"><%= user.email %></a></p>
    <div>
        <a class="btn btn-outline-info" href="/users/<%= user._id %>/edit">Edit user profile</a>
        <% if (currentUser && currentUser.isAdmin) { %>
            <% if (user.active) { %>
                <span id="active" class="btn btn-outline-warning">User is active</span>
            <% } else {%>
                <a class="btn btn-warning" href="/users/<%= user._id %>/active" >Activate user account</a>
            <% } %>
            <button class="btn btn-sm btn-outline-danger" data-href="/users/<%= user._id %>/delete" data-toggle="modal" data-target="#confirm-delete">Delete user</button>
        <% } %>
    </div>
    <p style="margin-top: 15px"><%- user.introduction %></p>
    <h4>Wishlist</h4>
    <% if(user.wishesCount > 0){ %>
        <ul class="list-group" style="padding-bottom:10px; ">  
            <% user.wishes.forEach(function(wish) { %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="/cards/<%= wish._id %>"><%= wish.name %></a>
                <div class="d-flex flex-row-end" >
                    <% if (currentUser && currentUser.isAdmin) { %>
                        <h4><span class="badge badge-secondary" ><%= wish.amount %> cards left</span></h4>
                        <form action="/users/<%= user._id %>/sent/<%= wish._id %>" method="POST">
                            <button class="btn btn-sm btn-primary" <%= wish.amount === 0 ? 'disabled' : '' %> style="margin: 0 5px 0;">Card sent</button>
                        </form>
                    <% } %>
                    <button class="btn btn-sm btn-danger" data-href="/users/<%= user._id %>/wishes/<%= wish._id %>/delete" data-toggle="modal" data-target="#confirm-delete">Delete</button>
                </div>
            <% }); %>    
            </li>
        </ul>
    <% } else { %>
        <p>No cards at the moment</p>
    <% } %>
    <hr>
    <h4>Sent cards</h4>
    <% if(user.sentCardsCount > 0){ %>
        <ul class="list-group" style="padding-bottom:10px; ">  
            <% user.sentCards.forEach(function(sent) { %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <% if(sent.pCard) { %>
                    <a href="/cards/<%= sent.pCard._id %>"><%= sent.sentCardName %></a>
                <% } else { %>
                    <%= sent.sentCardName %>
                <% } %>
                <div class="d-flex flex-row-end" >
                    <h4><span class="badge badge-secondary" style="margin: 0 5px 0;">Sent on <%= sent.sentDate.toDateString() %></span></h4>    
                    <% if (currentUser && currentUser.isAdmin) { %>
                        <button class="btn btn-sm btn-danger" data-href="/users/<%= user._id %>/sentCard/<%= sent._id %>/delete" data-toggle="modal" data-target="#confirm-delete" >Delete</button>
                    <% } %>
                </div>
            <% }); %>    
            </li>
        </ul>
    <% } else { %>
        <p>No cards were sent yet</p>
    <% } %>

</div>


<% include ../layout/footer %>