<% include ../layout/header %>

<div class="container">
    <h1><%= user.username %></h1>
    <p><a href="mailto:<%= user.email %>"><%= user.email %></a></p>
    <p><%= user.introduction %></p>
    <h4>Wishlist</h4>
    <% if(user.wishesCount > 0){ %>
        <ul class="list-group" style="padding-bottom:10px; ">  
            <% user.wishes.forEach(function(wish) { %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="/cards/<%= wish._id %>"><%= wish.name %></a>
                <form action="/users/<%= user._id %>/wishes/<%= wish._id %>?_method=DELETE" method="POST" style="display: inline;">
                    <button class="btn btn-sm btn-danger">Delete</button>
                </form>
            <% }); %>    
            </li>
        </ul>
    <% } else { %>
        <p>No cards at the moment</p>
    <% } %>
    <div>
        <a class="btn btn-outline-info" href="/users/<%= user._id %>/edit">Edit user profile</a>
        <% if (currentUser && currentUser.isAdmin) { %>
            <form action="/users/<%= user._id %>?_method=DELETE" method="POST" style="display: inline;">
                <button class="btn btn-sm btn-outline-danger">Delete user</button>
            </form>
        <% } %>
    </div>
</div>

<% include ../layout/footer %>